<!-- *** TOP ***
_________________________________________________________ -->
<div id="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-4 contact">
                <p class="hidden-sm hidden-xs">Contact us on (+84) 963 471 583 or phatnguyentanit@gmail.com.</p>
                <p class="hidden-md hidden-lg">
                    <a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>
                    <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </p>
            </div>
            <div class="col-xs-9 col-sm-8">
                <div class="cart-summary">
                    <eshop-cart-summary></eshop-cart-summary>
                </div>

                <div class="social">
                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </div>

                <div class="login">
                    <!--<a routerLink="/login" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i>-->
                    <a routerLink="/login"><i class="fa fa-sign-in"></i>
                        <span class="hidden-xs text-uppercase">Sign in</span>
                    </a>
                    <a routerLink="/register"><i class="fa fa-user"></i>
                        <span class="hidden-xs text-uppercase">Sign up</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- *** TOP END *** -->