<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Category full</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>Category full</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container-fluid">
        <eshop-product-list [products]="products"></eshop-product-list>
        <div class="row">
            <div class="col-sm-12">
                <div class="pages">
                    <pagination [boundaryLinks]="true"
                                [itemsPerPage]="itemsPerPage"
                                [totalItems]="totalItems"
                                [(ngModel)]="pageRequest.page"
                                (pageChanged)="pageChanged($event)"
                                class="pagination-sm"
                                previousText="&lsaquo;"
                                nextText="&rsaquo;"
                                firstText="&laquo;"
                                lastText="&raquo;">

                    </pagination>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
