<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li *ngFor="let breadcrumb of breadcrumbs">
                        <a *ngIf="!breadcrumb.active" routerLink="/{{breadcrumb.url}}">{{breadcrumb.name}}</a>
                        <span *ngIf="breadcrumb.active">{{breadcrumb.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>