/* your styles go here */
.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.home-carousel {
    padding-top: 60px;
    padding-bottom: 20px;
}

.product:hover .buttons {
    left: 0;
    display: block;
}

.product {
    border: 1px solid #c6c6c6;
    margin-bottom: 1px;
}

.product .text p.price {
    font-size: 15px;
    font-weight: bold;
    color: #d21212;
}

.product .text h3 {
    font-size: 12px;
}

.products {
    padding-left: 5px;
    padding-right: 5px;
}

#heading-breadcrumbs {
    background: #f4f5f7;
    padding: 0;
}

.breadcrumb {
    text-align: left;
}