<div class="container">
    <div class="row" style="margin-top: 10px">
        <div class="col-md-4 col-md-offset-4">
            <a routerLink="/" style="cursor: pointer">
                <img style="height: 40px; width: 121px" src="static/images/eshop.png" alt="Eshop logo" class="center-block">
            </a>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4 col-md-offset-4">
            <div class="box account-box">
                <h3 class="text-uppercase" style="margin-top:0">Login</h3>

                <form action="customer-orders.html" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="customer.email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="customer.password" name="password" required>
                    </div>
                    <div class="text-center">
                        <button type="button" (click)="login()" class="btn btn-template-main"><i class="fa fa-sign-in"></i> Log in</button>
                    </div>
                    <div *ngIf="errorLogin" class="alert alert-danger login-error-msg">
                        {{errorLogin}}
                    </div>
                </form>
                <hr/>
                <div class="text-center"><h5 style="color: #767676; font-weight: normal">New to Eshop?</h5></div>
                <div class="text-center"><a routerLink="/register" style="cursor: pointer"  class="btn btn-template-primary" type="button">Create your Eshop account</a></div>
            </div>
        </div>
    </div>
</div>